* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    margin-top: 150px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.table {
    border-collapse: collapse;
    margin: auto;
    max-width: 800px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.table-rows {
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.table tbody tr {
    padding: 10px;
    margin: 10px;
}

.rows {
    margin: 5px;
    padding: 10px;
    text-align: left;
}

.btn {
    border: none;
    padding: 10px;
    margin: 6px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}

.btn-contact {
    background-color: green;
}

.edit-btn {
    background-color: blue;
}

.view-btn {
    background-color: goldenrod;
}

.delete-btn {
    background-color: red;
}