.main{
    margin-top: 100px;
}

.card {
    display: grid;
    justify-content: center;
}

.container {
    align-items: baseline;
}

strong {
    margin-right: 10px;
}

.btn {
    border: none;
    padding: 10px;
    margin: 3px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
}



.btn-view {
    background-color: blueviolet;
}